*.class

# Package Files #
*.jar
*.war
*.ear
.project
org.eclipse.core.resources.prefs
org.eclipse.m2e.core.prefs
.classpath

/model/.settings/*.prefs
/dao/.settings/*.prefs

/service/.settings/*.prefs
/web/.settings/org.eclipse.jdt.core.prefs
