*.class

# Package Files #
*.jar
*.war
*.ear
.project
org.eclipse.core.resources.prefs
org.eclipse.m2e.core.prefs
.classpath

/model/.settings/*.prefs
/dao/.settings/*.prefs

/service/.settings/*.prefs
/web/.settings/org.eclipse.jdt.core.prefs

/dao/.settings/org.eclipse.wst.common.component

/dao/.settings/org.eclipse.wst.common.project.facet.core.xml

org.eclipse.wst.common.component

org.eclipse.wst.common.project.facet.core.xml

.settings
